* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}

body {
    background-color: lightgray;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    background-color: rgb(56, 58, 63);
    padding: 16px;
    border-radius: 16px;
    box-shadow: 10px 10px 5px gray;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
}

.display {
    background-color: white;
    border: 2px solid;
    border-radius: 8px;
    grid-column: 1 / 5;
    display: flex;
    flex-direction: column;

    text-align: right;
    padding: 4px;
}

#btn-0 {
    aspect-ratio: unset;
    grid-column: 1 / 3;
}

button {
    aspect-ratio: 1/1;
    border-radius: 8px;
}

#previous {
    height: 1.25rem;
    font-size: 1rem;
}

#current {
    height: 2.25rem;
    font-size: 2rem;
}

.operator, #btn-Enter {
    border: 2px solid rgb(111, 199, 199);
    background-color: rgb(201, 240, 241);
}